@font-face{
    src: url(../../assets/fonts/Poppins-Regular.ttf);
    font-family: 'Poppins Regular';
}

*{
    margin: 0;
    padding: 0;
    font-family: 'elements';
}

h1,h2,h3,h4,h5,h6{
    font-family: 'title';
    font-weight: bold;
}

html, body, #root{
    height: 100%;
    width: 100%;
}